.tab-content {
    display: none;
}
.active {
    display: block;
}

.complited {
    color: red;
    text-decoration: line-through;
}

.uncomplited {
    color: #000;
    text-decoration: none;
}

.dospan {
    font-size: 18px;
    margin:0 15px 0 0;
}

.del {
    display: inline-block;
    margin: 0 5px;;
}

.edit {
    display: inline-block;
    margin: 0 5px;
}

#idVhod {
    display: none; /* изначально скрыт */
}

.add-form {
    margin: 20px 0;
}

#new-list {
    font-size: 14px;
    font-weight: bold;
    margin: 20px 0;
}

#clear {
    margin: 20px 0;
}

.checkbox {
    display: inline-block;
    margin: 0 5px !important;
}

.main-text {
    text-align: center;
    padding: 10px 0;
}

#inform {
    margin: 0 0 0 15px;
    display: inline-block;
}

#text-edit {
    display: inline-block;
    height: 32px;
}

.edit-controls {
    display: inline-block;
    position: relative;
    top:-5px;
    left:8px;
}

.edit-controls button {
    width: 70px;
    height: 20px;
    font-size: 12px;
}